<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Clock Feature</title>
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<link rel="stylesheet" href="../../stylesheets/demo-carcass.css">
<link rel="stylesheet" href="../../stylesheets/demo-persistent.min.css">
</head>
<body>
<div class="demo-description">Demonstrates listener events that you can hook into programatically.</div>
<script type="module">

import { createElement } from "../../../src/core/functions/node.js";
import { clockFeature } from "../../../src/components/clock-feature.js";
import { Menu } from "../../../src/element/menu.js";

const clockContainer = createElement("p", { id: "clock-container" });
clockFeature.applyStoreController();
clockFeature.releaseElement({
    host: clockContainer,
    attach(elem) {
        this.host.append(elem);
    },
    remove() {
        this.host.children[0].remove();
    }
});
const visibilityControl = clockFeature.releaseVisibilityControl();
const formatMenu = clockFeature.releaseFormatMenu({ type: Menu.types.toggle, selectValue: true });
let formatText = clockFeature.formatWithSampleDate(await clockFeature.getFormat());
formatMenu.headingText = formatText;
document.body.append(
    clockContainer,
    createElement("p", { elems: [visibilityControl] }),
    createElement("p", { elems: [formatMenu.element] }),
    createElement("div", { id: "output" })
);

const outputElement = document.getElementById("output");
clockFeature.addEventListener("statechange", e => {
    const { newState, oldState } = e.detail;
    console.log("State change", newState, oldState);
    outputElement.append(createElement("div", { text: `State change from ${oldState} to ${newState}` }));
});
clockFeature.addEventListener("formatchange", e => {
    const { newFormat, oldFormat } = e.detail;
    console.log("Format change", newFormat, oldFormat);
    outputElement.append(createElement("div", { text: `Format change from ${oldFormat} to ${newFormat}` }));
});
clockFeature.addEventListener("savestatestart", e => {
    const { state, process } = e.detail;
    console.log("Save state start", state, process);
    outputElement.append(createElement("div", { text: `Save state start: ${state}; process id: ${process.id}` }));
});
clockFeature.addEventListener("saveformatstart", e => {
    const { format, process } = e.detail;
    console.log("Save format start", format, process);
    outputElement.append(createElement("div", { text: `Save format start: ${format}; process id: ${process.id}` }));
});

</script>
<script src="../../demo.js" type="module"></script>
</body>
</html>