<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Simple Notifications</title>
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<link rel="stylesheet" href="../../stylesheets/demo.css">
</head>
<body>
<script type="module">

import { SimpleNotifications } from "../../../src/components/simple-notifications.js";

const simpleNotifications = new SimpleNotifications();
document.body.append(simpleNotifications.toElement());
simpleNotifications.send("Hello World!");
setTimeout(() => {
    simpleNotifications.send("Hi there!");
}, 1_000);

</script>
</body>
</html>