<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Target Element - Fullscreen</title>
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<link rel="stylesheet" href="../../stylesheets/demo-carcass.css">
<link rel="stylesheet" href="../../stylesheets/demo-persistent.min.css">
</head>
<body>
<div class="demo-description">Puts a chosen element into fullscreen mode.</div>
<div id="element1">Element 1 <fullscreen-toggler target="element1">Toggle Element Fullscreen Mode</fullscreen-toggler></div>
<script type="module">

import { fullscreen } from "../../../src/components/fullscreen.js";

</script>
<script src="../../demo.js" type="module"></script>
</body>
</html>