<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Local Storage Controller - Color Mode</title>
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<link rel="stylesheet" href="../../stylesheets/demo-carcass.css">
<link rel="stylesheet" href="../../stylesheets/demo-persistent.min.css">
</head>
<body>
<div class="demo-description">Color mode that stores its value into local storage.</div>
<script type="module">

import { colorMode } from "../../../src/components/color-mode.js";

colorMode.setCustomStoreController(colorMode.defaultLocalStorageStoreController, { apply: true });
colorMode.releaseMenu().appendToBody();

</script>
<script src="../../demo.js" type="module"></script>
</body>
</html>