<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Multiple Controls - Color Mode</title>
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<link rel="stylesheet" href="../../stylesheets/demo-carcass.css">
<link rel="stylesheet" href="../../stylesheets/demo-persistent.min.css">
</head>
<body>
<div class="demo-description">Demonstrates synchronization between multiple controls.</div>
<script type="module">

import { createElement } from "../../../src/core/functions/node.js";
import { colorMode } from "../../../src/components/color-mode.js";

colorMode.releaseMenu().appendToBody();
colorMode.releaseMenu().appendToBody();

const paragraph1 = createElement("p");
paragraph1.append(colorMode.releaseTogglerButton());
const paragraph2 = createElement("p");
paragraph2.append(colorMode.releaseTogglerCustomElement());
document.body.append(paragraph1, paragraph2);

</script>
<script src="../../demo.js" type="module"></script>
</body>
</html>