<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Archive Listing - Site Notifications</title>
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<link rel="stylesheet" href="../../stylesheets/demo-carcass.css">
<link rel="stylesheet" href="../../stylesheets/demo-persistent.min.css">
</head>
<body>
<div class="demo-description">Outputs notifications archive using the "listing" component. Click on "Send Notification" to see how they are being pushed into archive and displayed as popups.</div>
<script type="module">

import { createSimpleButton } from "../../../src/core/functions/node.js";
import { NotificationsCenter, SiteNotification } from "../../../src/components/site-notifications.js";

const button = createSimpleButton("Send Notification");
button.addEventListener("click", () => {
    notificationsCenter.sendText("Hello World!");
});
document.body.append(button);

const notificationsCenter = new NotificationsCenter();
/* Archive Element */
const [archiveArticle, archiveListing] = notificationsCenter.toComponents({
    hideOnCancel: false,
    includeDeleteButton: true,
    includeControls: true,
    classes: [],
    customListingOptions: {
        format: "chunks",
        includeHead: true,
        headItemSort: "button",
        chunkNames: SiteNotification.chunkNames,
    }
});
archiveArticle.appendToBody();
/* Regular */
notificationsCenter.appendToBody({ cancelOnClick: false, includeDeleteButton: false, includeControls: false, id: "site-notifications" });
notificationsCenter.sendParams("Hello World!", { title: "Hey!" });

</script>
<script src="../../demo.js" type="module"></script>
</body>
</html>