<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Group Match - Site Notifications</title>
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<link rel="stylesheet" href="../../stylesheets/demo-carcass.css">
<link rel="stylesheet" href="../../stylesheets/demo-persistent.min.css">
</head>
<body>
<div class="demo-description">Click on "Send Notification" to trigger a notification that will cancel any active notification in the same category.</div>
<script type="module">

import { createSimpleButton } from "../../../src/core/functions/node.js";
import { SVGCodeToBlob } from "../../../src/core/functions/misc.js";
import { NotificationsCenter } from "../../../src/components/site-notifications.js";
import { starSVG, repaintStarSVGToWhite } from "../../helpers/helpers.js";

const notificationsCenter = new NotificationsCenter({ groupMatch: "cancel" });
notificationsCenter.appendToBody({
    cancelOnClick: false,
    includeDeleteButton: false,
    includeControls: false,
    id: "site-notifications",
});
const iconURL = URL.createObjectURL(SVGCodeToBlob(repaintStarSVGToWhite()));
notificationsCenter.sendParams("Hello World!", {
    title: "Hey!",
    iconURL,
    type: "normal",
    durationActive: 10_000,
    category: "custom",
});

const button = createSimpleButton("Send Notification");
button.addEventListener("click", () => {
    notificationsCenter.sendParams("Hello World!", { category: "custom" });
});
document.body.append(button);

</script>
<script src="../../demo.js" type="module"></script>
</body>
</html>